body {
    font-family: 'Montserrat', sans-serif;
}

.container-fluid {
    padding: 3% 15% 7%;
}


#title {
    background-color: #EE6983;
    color: white;


}

h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 3rem;
    line-height: 1.5;
    font-weight: bold;
}

h2 {
    font-family: 'Montserrat-Bold', sans-serif;
    line-height: 1.5;
    font-size: 3rem;
    font-weight: 700;
}


/* Navbar Brand */

.navbar-brand {
    font-family: "Ubuntu";
    font-size: 2.5rem;
    font-weight: bold;
}

.navbar {
    padding-bottom: 4.5rem;
}

.nav-item {
    padding: 0 18px;
}

/* Download button */


.download-button {
    margin: 2% 3% 2% 0;
}

/* Title Image */


.title-img-div {
    position: relative;
}

.title-image {
    width: 60%;
    transform: rotate(20deg);
    /* margin: 0 auto; */
    position: absolute;
    right: 30%;


}


@media (max-width:992px) {
    .title-image {
        width: 60%;
        /* margin: 0 auto; */
        position: static;
        right: 30%;
        transform: rotate(0deg);

    }

    .title-img-div {
        position: static;
    }

    #title {
        text-align: center;
    }
}

/* features */

#features {
    /* margin-top: 4rem; */
    padding: 7% 15%;
    background-color: #fff;
    position: relative;
    z-index: 1;
}


/* Features-icons */


.features-icons {
    font-size: 4rem;
    color: #ef8172;
    padding: 0.75rem;
}

.features-icons:hover {
    color: rebeccapurple;
}

.feature-item {

    text-align: center;

}

h3 {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}

#features p {
    color: #8f8f8f;
}

/* Testimonials */

#testimonials {

    background-color: #EE6983;
    text-align: center;
    color: #fff;

}

.carousel-item {
    padding: 7% 15%;
}

.testimonial-image {
    width: 10%;
    border-radius: 100%;
    margin: 20px;
}

#press {
    background-color: #EE6983;
    padding-bottom: 3%;
    text-align: center;

}

.press-image {
    margin: 20px 20px 50px;
    width: 15%;
}


/* Pricing */

#pricing {
    text-align: center;
    padding: 7% 15%;
}

.pricing-card {
    padding: 2%;
}

/* call to action */

#cta {
    background-color: #EE6983;
    text-align: center;
    padding: 7% 15%;
    color: #fff;
    /* font-weight: bolder; */
}

/* footer */

#footer {
    text-align: center;
    font-family: "Montserrat";
    background-color: #fff;
    padding-top: 7%;
}
.fotter-icons{
    margin: 10px 20px;
}